@model  HayvanSahiplendirmeSitesi.Models.Entity.TBLADMIN
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>YÖNETİCİ GİRİŞİ</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="YÖNETİCİ GİRİŞİ">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/web/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


</head>
<body>

    <div class="signupform">
        <div class="container">
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <h1>YÖNETİCİ GİRİŞİ</h1>
                        <p>Sitenizi Güncelleştirmek İçin Giriş Yapınız</p>
                        <img src="~/web/images/image.jpg" alt="" />
                    </div>
                </div>
                <div class="w3_info">
                    <h2>SİTENİZE GİRİŞ YAPINIZ</h2>
                    <p>Giriş yapmak için bilgilerinizi giriniz</p>
                    @using (Html.BeginForm("GirisYap", "Guvenlik", FormMethod.Post))
                    {
                        <label>E-Posta Adresiniz</label>
                        <div class="input-group">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                            <input type="email" placeholder="E-Posta Adresinizi Giriniz" required="" name="ADMINEPOSTA">
                        </div>
                        <label>Şifreniz</label>
                        <div class="input-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <input type="Password" placeholder="Şifrenizi Giriniz" required="" name="ADMINSIFRE">
                        </div>
                        <button class="btn btn-danger btn-block" type="submit">Giriş Yap</button>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
</body>
</html>